{% extends 'mi_app/index.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block main %}

<div class="container">
<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }} {{post.author.last_name }} - {{ post.post_date}}
    <a href="{% url 'update_post' post.pk %}">(Editar)</a>

    <a href="{% url 'delete_post' post.pk %}">(Eliminar)</a>

</small><br/>
<br>
<br/>
{{ post.body }}

<br/><br/>
<a href = "{% url 'pagina-inicial' %}" class="btn btn-secondary">Back</a>
</div>
{% endblock %}