{% extends 'mi_app/index.html' %}

{% block main %}

    {% if busqueda_formulario %}
   
    <h1>Busqueda de "Curso" por nombre</h1>
    <h2>Escriba que curso desea buscar:</h2>


    <form action="" method="GET">
        {{busqueda_formulario}}
        <button type="submit">Buscar</button>
        
    </form>
    <h1> 
        <!-- relleno para que no quede pegado el boton -->
    </h1>
    
    <a href="http://127.0.0.1:8000/mi-pagina/">Volver al Menu</a>
    {% else %}

        {% if cursos %}
        <ul>
            {% for curso in cursos %}
                <li>{{curso.nombre}}</li> 
                <li>{{curso.camada}}</li>
                <li>--------------------------</li>  
            {% endfor %}
        </ul>

        {% else %}
            <h2> No hay cursos con ese criterio !!</h2>
            <button>
                <a href="{% url 'formulario_busqueda' %}" > Volver a buscar </a>
            </button>
        {% endif %}
    {% endif %}

    <p style="color:red;">{{respuesta}}</p>

{% endblock %}

