{% extends 'mi_app/index.html' %}

{% block main %}
        <h1>Formulario Estudiantes - Agregar Nombre , Apellido y Mail </h1>

        {% if mi_formulario_estudiante.errors %}

        <p style = "color: red;"> Estan mal los datos, por favor revisar.</p>

        {% endif %}

        <form action="" method="POST">{% csrf_token %}

            <table>

             {{ mi_formulario_estudiante.as_table }}


            </table>

            <input type="submit", value="Enviar">

        </form>
        
        <h1>  </h1>
        <a href="http://127.0.0.1:8000/mi-pagina/">Volver al Menu</a>
{% endblock %}