{% extends 'mi_app/index.html' %}
{% block main %}
    <h1 style="background-color: lightgreen; color:black; text-align:center">Listado de Estudiantes inscriptos en los cursos de nuestra institución.</h1>
    <ul>
        {% for estudiante in estudiantes %}
            <li>Nombre: {{estudiante.Nombre}} </li>
            <li>Apellido: {{estudiante.Apellido}} </li>
            <li>Email: {{estudiante.Email}} </li>
            <li>------------------------------------------</li>
        {% endfor %}
    </ul>
    
    <a href="http://127.0.0.1:8000/mi-pagina/">Volver al Menu</a>

    <h5 style="background-color: lightgreen; color:black; text-align:center">Noir & Asociados 2022.</h5>
{% endblock %}