{% extends 'mi_app/index.html' %}
{% block main %}    
    <h1 style="background-color: lightskyblue; color:black; text-align:center">Listado de los mejores y mas capacitados profesionales dentro de nuestra institución.</h1>
    <ul>
        {% for profesor in profesores %}
            <li>Nombre: {{profesor.nombre}} </li>
            <li>Apellido: {{profesor.apellido}} </li>
            <li>Email: {{profesor.email}} </li>
            <li>Profesion: {{profesor.profesion}} </li>
            <li>------------------------------------------</li>
            <button>
                <a href="#">Eliminar Profesor</a>
            </button>
            <li>------------------------------------------</li>
        {% endfor %}
            <a href="{% url 'profesor_formulario' %}">Agregar otro profesor</a>
    </ul>
    
    <a href="http://127.0.0.1:8000/mi-pagina/">Volver al Menu</a>
    
    <h5 style="background-color: lightskyblue; color:black; text-align:center">Noir & Asociados 2022.</h5>
      
{% endblock %}