{% extends 'mi_app/index.html' %}
<head>
    
    <title>Listado de cursos</title>
</head>
{% block main %}
    <h1 style="background-color: lightcoral; color:black; text-align:center">Listado de Cursos en desarrollo del programa de capacitacion y formacion profesional 2022:</h1>
    <ul>
        {% for curso in cursos %}
            <li>Curso: {{curso.nombre}} </li>
            <li>Camada: {{curso.camada}} </li>
            <li>--------------------------</li>
        {% endfor %}
    </ul>
    
    
    <a href="http://127.0.0.1:8000/mi-pagina/">Volver al Menu</a>

    <h5 style="background-color: lightcoral; color:black; text-align:center">Noir & Asociados 2022.</h5>

    
{% endblock %}    
