<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de cursos</title>
</head>
<body>
    <h1 style="background-color: lightcoral; color:black; text-align:center">Listado de Cursos en desarrollo del programa de capacitacion y formacion profesional 2022:</h1>
    <ul>
        {% for curso in cursos %}
            <li>Curso: {{curso.nombre}} </li>
            <li>Camada: {{curso.camada}} </li>
            <li>--------------------------</li>
        {% endfor %}
    </ul>
    <h5 style="background-color: lightcoral; color:black; text-align:center">Noir & Asociados 2022.</h5>
</body>
</html>